body {
    background-image: url("moiz.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

html, body {
    height: 100%;
}

#main-content {
    text-align: center;
    margin: 0.5vw auto auto;
}

#dad {
    font-size: 3.5vh;
}

#music-controls {
    width: 30em;
}